# Ignore Python bytecode files
__pycache__/

# Ignore environment-specific files
.env

# Ignore logs
logs/

# Ignore database files
*.db

# Ignore local development settings
local_settings.py

# Ignore virtual environment
venv/
